h5py==2.10.0
matplotlib==3.1.3
numba==0.48.0
numpy==1.17.4
scikit-learn==0.22
scipy==1.3.3
six==1.13.0
SoundFile==0.10.3.post1
sox==1.3.7
tqdm==4.41.0
PyYAML==5.3.1
omegaconf==2.0.2
typing-extensions==3.7.4.3
selenium==3.141.0
xlrd==2.0.1
pyvirtualdisplay==2.1
requests==2.25.1
lxml==4.6.3
pydub
jupyter
pandas
youtube-dl
wget